#tickerTape {
    height:50px;
    position:relative;
    white-space:nowrap;
    width:1200px;
    margin-left:-40px;
}
#tickerTape div {
    height:40px;
    width:39px;
    float:left;
    border:1px solid black;
    border-right:0px;
    text-align:center;
}
#tickerTape div.firstCell {
}
#tickerTape div.lastCell {
    border-right:1px solid black;
}
.tickerTapeContain {
    overflow:hidden;
}
#tmInstructions {
    width:100%;
}
#headHighlight {
    width:39px;
    height:40px;
    border:1px solid red;
    margin-top:-50px;
    margin-left:440px;
    position:relative;
}
.notification {
    font-size:135%;
    line-height:40px;
    display:none;
    font-weight:bold;
    overflow: hidden;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E5D27F;
    height: 40px;
    color: #000000;
    opacity: .9;
}
#curState {
    cursor:pointer;
    float:left;
    margin-left:10px;
}
label[for=curState] {
    float:left;
    display:block;
}
.hidden{
    display:none;
}
#showInstructions{
    cursor:pointer;
}
.tapeCell{
}
.symbolIndicator{
    font-size:300%;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
#tmInstructions{
    font-size:250%;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
